{% extends 'base.html.twig' %}
{% block title %}TodoList Search{% endblock %}
 {% block stylesheets %}
           {# 'app' must match the first argument to addEntry() in webpack.config.js #}
           {{ encore_entry_link_tags('search') }}
        {% endblock %}
{% block body %}
    <div id = "app" class="container">
    </div>
{% endblock %}
{% block javascripts %}
           {{ encore_entry_script_tags('search') }}
{% endblock %}
